Repository aragon/client, pull requests merged in 2018-08, with the labels that each got.

#303 New Permissions
  package.json
  src/App.js
  src/Wrapper.js
  src/apps/Permissions/AppCard.js
  src/apps/Permissions/AppIcon.js
  src/apps/Permissions/AppIconKernel.js
  src/apps/Permissions/AppInstanceLabel.js
  src/apps/Permissions/AppPermissions.js
  src/apps/Permissions/AssignPermission.js
  src/apps/Permissions/EmptyBlock.js
  src/apps/Permissions/EntityPermissions.js
  src/apps/Permissions/Home/BrowseByApp.js
  src/apps/Permissions/Home/BrowseByEntity.js
  src/apps/Permissions/Home/EntityRow.js
  src/apps/Permissions/Home/Home.js
  src/apps/Permissions/InstancePermissions.js
  src/apps/Permissions/List.js
  src/apps/Permissions/ListItem.js
  src/apps/Permissions/NavigationItem.js
  src/apps/Permissions/PermissionPanel.js
  src/apps/Permissions/Permissions.js
  src/apps/Permissions/PermissionsHome.js
  src/apps/Permissions/RevokeFooter.js
  src/apps/Permissions/Screen.js
  src/apps/Permissions/Section.js
  src/apps/Permissions/assets/kernel-icon.svg
  src/apps/Settings/DaoSettings.js
  src/aragonjs-wrapper.js
  src/components/IdentityBadge.js
  src/components/MenuPanel/MenuPanel.js
  src/demo-apps.js
  src/demo-state.js
  src/environment.js
  src/permissions.js
  src/routing.js
  src/web3-utils.js
Labels: epic: Permissions, sprint: 0.5.3, sprint: 0.5.4, work-in-progress

#329 Home: clear timeout when unmounting
  src/components/Home/Home.js
Labels: epic: in sprint addition

#333 Support new aragon.js permissions data structure
  package.json
  src/permissions.js
Labels: epic: Permissions
