Repository aragon/client, pull requests merged in 2019-02, with the labels that each got.

#611 Settings: visual tweaks
  src/apps/Settings/DaoSettings.js
  src/aragonjs-wrapper.js
  src/types/App.js
Labels: app: agent, enhancement

#618 fix(SignerPanel): don't assume intent is always available
  src/components/SignerPanel/ConfirmTransaction.js
Labels: bug, priority: high

#617 fix: add more proptypes
  .eslintrc
  package.json
  src/App.js
  src/GlobalErrorHandler.js
  src/Wrapper.js
  src/apps/Permissions/AppCard.js
  src/apps/Permissions/AppInstanceLabel.js
  src/apps/Permissions/AppPermissions.js
  src/apps/Permissions/AppRoles.js
  src/apps/Permissions/AssignPermissionPanel.js
  src/apps/Permissions/EntityPermissions.js
  src/apps/Permissions/EntitySelector.js
  src/apps/Permissions/Home/BrowseByApp.js
  src/apps/Permissions/Home/Home.js
  src/apps/Permissions/ManageRolePanel.js
  src/apps/Permissions/NavigationItem.js
  src/apps/Permissions/Permissions.js
  src/apps/Settings/DaoSettings.js
  src/apps/Settings/Option.js
  src/apps/Settings/Settings.js
  src/components/App/AppIFrame.js
  src/components/App/AppLoadingProgressBar.js
  src/components/Banner/Banner.js
  src/components/ColumnSection/ColumnSection.js
  src/components/Error/DAONotFoundError.js
  src/components/Error/ErrorCard.js
  src/components/EscapeOutside/EscapeOutside.js
  src/components/Etherscan/EtherscanLink.js
  src/components/HOC/observeCache.js
  src/components/Home/Home.js
  src/components/Identicon.js
  src/components/LoadingRing.js
  src/components/MenuPanel/MenuPanel.js
  src/components/MenuPanel/MenuPanelAppsLoader.js
  src/components/SignerPanel/ActionPathsContent.js
  src/components/SignerPanel/AddressLink.js
  src/components/SignerPanel/ConfirmTransaction.js
  src/components/SignerPanel/SignerPanel.js
  src/contexts/PermissionsContext.js
  src/prop-types.js
  src/types/App.js
Labels: tech debt

#610 Settings: implement app tags for status, APM registry and contract-only apps
  .eslintrc
  package.json
  src/App.js
  src/GlobalErrorHandler.js
  src/Wrapper.js
  src/apps/Apps/Apps.js
  src/apps/Permissions/AddPermissionButton.js
  src/apps/Permissions/AppCard.js
  src/apps/Permissions/AppInstanceLabel.js
  src/apps/Permissions/AppPermissions.js
  src/apps/Permissions/AppRoles.js
  src/apps/Permissions/AssignPermissionPanel.js
  src/apps/Permissions/EntityPermissions.js
  src/apps/Permissions/EntitySelector.js
  src/apps/Permissions/Home/BrowseByApp.js
  src/apps/Permissions/Home/BrowseByEntity.js
  src/apps/Permissions/Home/EntityRow.js
  src/apps/Permissions/Home/Home.js
  src/apps/Permissions/Home/ViewDetailsButton.js
  src/apps/Permissions/ManageRolePanel.js
  src/apps/Permissions/NavigationItem.js
  src/apps/Permissions/Permissions.js
  src/apps/Settings/DaoSettings.js
  src/apps/Settings/Option.js
  src/apps/Settings/Settings.js
  src/aragonjs-wrapper.js
  src/components/App/AppIFrame.js
  src/components/App/AppLoadingProgressBar.js
  src/components/Banner/Banner.js
  src/components/ColumnSection/ColumnSection.js
  src/components/Error/DAONotFoundError.js
  src/components/Error/ErrorCard.js
  src/components/EscapeOutside/EscapeOutside.js
  src/components/Etherscan/EtherscanLink.js
  src/components/HOC/observeCache.js
  src/components/Home/Home.js
  src/components/Identicon.js
  src/components/LoadingRing.js
  src/components/MenuPanel/MenuPanel.js
  src/components/MenuPanel/MenuPanelAppsLoader.js
  src/components/MenuPanel/OrganizationSwitcher/OrganizationItem.js
  src/components/SignerPanel/ActionPathsContent.js
  src/components/SignerPanel/AddressLink.js
  src/components/SignerPanel/ConfirmTransaction.js
  src/components/SignerPanel/SignerPanel.js
  src/contexts/PermissionsContext.js
  src/contexts/ScreenSize.js
  src/index.js
  src/known-organizations/images/aragon-governance.svg
  src/known-organizations/images/aragon-one.svg
  src/known-organizations/images/melon-council.svg
  src/known-organizations/images/melonport.svg
  src/known-organizations/index.js
  src/onboarding/Start.js
  src/prop-types.js
  src/types/App.js
Labels: app: agent, enhancement

#608 Settings: show contract-only apps in App list
  src/Wrapper.js
  src/apps/Settings/DaoSettings.js
  src/apps/Settings/Settings.js
  src/aragonjs-wrapper.js
  src/prop-types.js
Labels: app: agent, enhancement
