Repository aragon/client, pull requests merged in 2020-07, with the labels that each got.

#1458 Permissions: fix prop types errors with not controlling the page in AppPermissions
  src/apps/Permissions/AppPermissions.js
  src/apps/Permissions/Home/AllPermissions.js
  src/apps/Permissions/Home/Home.js
Labels: app: permissions

#1464 Account: update instances of 'Ethereum provider' to wallet terminology
  src/apps/Organization/Organization.js
  src/components/AccountModule/AccountModuleConnectingScreen.js
  src/components/ConnectModal/ConnectModal.js
  src/components/SignerPanel/ActionPathsContent.js
  src/components/SignerPanel/SignerPanel.js
  src/components/SignerPanel/SigningStatus.js
  src/components/SignerPanel/Web3Errors.js
  src/components/SignerPanel/signer-statuses.js
  src/ethereum-providers/index.js
Labels: app: organization, module: account

#1463 Local Connection: Add client fixes for connecting to a local chain
  HACKS.md
  package.json
  src/ethereum-providers/index.js
  src/index.html
  src/local-settings.js
  src/network-config.js
  src/wallet.js
  yarn.lock
Labels: module: account

#1474 AccountModule: Bypass connection hooks on local / unknown networks
  src/components/AccountModule/connection-hooks.js
  src/network-config.js
Labels: module: account

#1477 AccountModule: Add better naming to default connection hook variables
  src/components/AccountModule/connection-hooks.js
Labels: module: account

#1482 Preferences: fix link to console app
  src/components/GlobalPreferences/HelpAndFeedback/HelpAndFeedback.js
Labels: module: preferences

#1493 Preferences: add organization name to share labels link
  src/components/GlobalPreferences/CustomLabels/useIdentitiesActions.js
Labels: module: preferences

#1507 Onboarding: clarify which tokens are redeemable for Dandelion organizations
  src/templates/dandelion/config/screens/RedemptionsScreen.js
Labels: module: onboarding
