Repository aragon/client, pull requests merged in 2020-04, with the labels that each got.

#1373 2020-04-01
  src/onboarding/Onboarding/Onboarding.js
  src/onboarding/Templates/TemplateCard.js
  src/onboarding/Templates/TemplateDetails.js
  src/templates/dandelion/index.js
  src/templates/dictatorship/components/DictatorScreen.js
  src/templates/dictatorship/header.svg
  src/templates/dictatorship/icon.svg
  src/templates/dictatorship/index.js
  src/templates/index.js
  src/templates/kit/screens/TokensScreen.js
Labels: module: onboarding

#1377 Revert "2020-04-01 (#1373)"
  src/onboarding/Onboarding/Onboarding.js
  src/onboarding/Templates/TemplateCard.js
  src/onboarding/Templates/TemplateDetails.js
  src/templates/dandelion/index.js
  src/templates/dictatorship/components/DictatorScreen.js
  src/templates/dictatorship/header.svg
  src/templates/dictatorship/icon.svg
  src/templates/dictatorship/index.js
  src/templates/index.js
  src/templates/kit/screens/TokensScreen.js
Labels: module: onboarding

#1386 AppCenter: crashing fix due to not having the state loaded from chain yet
  src/apps/AppCenter/AppCenter.js
Labels: app: app center

#1383 App Center: keep descriptions to three lines
  src/apps/AppCenter/AppCard.js
Labels: app: app center

#1384 Permissions: Add "any account" warning when using safe address
  src/apps/Permissions/AssignPermissionPanel.js
  src/apps/Permissions/ManageRolePanel.js
  src/permissions.js
Labels: app: permissions

#1391 App center: Change release date format
  src/apps/AppCenter/InstalledApps/RepoVersions.js
  src/date-utils.js
Labels: app: app center

#1381 Styling: Migrate breakpoint to use-viewport wherever possible
  src/components/AppInstanceLabel.js
  src/components/GlobalPreferences/CustomLabels/RemoveModal.js
  src/components/GlobalPreferences/CustomLabels/ShareModal.js
  src/components/GlobalPreferences/GlobalPreferences.js
  src/components/GlobalPreferences/Notifications/NotificationModals.js
  src/components/GlobalPreferences/SharedIdentities/SharedIdentities.js
  src/components/HelpScoutBeacon/HelpScoutBeacon.js
  src/components/LocalIdentityModal/LocalIdentityModal.js
Labels: module: preferences

#1374 Documentation: Add console documentation link
  src/components/GlobalPreferences/HelpAndFeedback/HelpAndFeedback.js
Labels: module: preferences

#1395 Onboarding: make minimum vote duration be 1 minute instead of 10
  src/templates/kit/screens/VotingScreen.js
Labels: module: onboarding

#1382 Console: add new flow for act command
  src/apps/Console/ConsoleFeedback.js
Labels: app: console

#1397 Console: update and align copy, refactor internals
  src/apps/Console/Console.js
  src/apps/Console/ConsoleFeedback.js
  src/apps/Console/console-utils.js
  src/apps/Console/console-utils.test.js
  src/apps/Console/handlers/install.js
Labels: app: console

#1385 PermissionsApp: Manage pagination in a controlled way
  src/apps/Permissions/Home/AllPermissions.js
  src/apps/Permissions/PermissionsView.js
Labels: app: permissions

#1404 Replace `date-fns` for `day.js`
  package.json
  src/components/Activity/TimeTag.js
  src/components/GlobalPreferences/CustomLabels/useIdentitiesActions.js
  src/date-utils.js
Labels: module: preferences

#1405 Onboarding: Rename configure screen
  src/onboarding/Configure/Setup.js
  src/onboarding/Create/Create.js
Labels: module: onboarding

#1355 Console: Allow ETH to be sent through the act command
  docs/CONSOLE.md
  src/apps/Console/Console.js
  src/apps/Console/handlers/act.js
Labels: app: console

#1402 Onboarding: align hint titles and copy
  src/templates/dandelion/config/screens/DandelionVotingScreen.js
  src/templates/dandelion/config/screens/LockScreen.js
  src/templates/fundraising/components/Council.js
  src/templates/fundraising/components/Holders.js
  src/templates/kit/screens/DotVotingScreen.js
  src/templates/kit/screens/FundraisingScreen.js
  src/templates/kit/screens/TokensScreen.js
  src/templates/kit/screens/VotingScreen.js
Labels: module: onboarding

#1408 Onboarding: Rename configure screen components
  src/onboarding/Create/Create.js
  src/onboarding/Setup/ConfigureStepsItem.js
  src/onboarding/Setup/ConfigureTemplateScreens.js
  src/onboarding/Setup/Setup.js
  src/onboarding/Setup/SetupStepsPanel.js
Labels: module: onboarding

#1418 Fix title casing
  src/apps/AppCenter/InstalledApps/AppContent.js
Labels: app: app center
