Repository aragon/client, pull requests merged in 2020-06, with the labels that each got.

#1399 GlobalPreferences: update tabs usage
  src/App.js
  src/components/GlobalPreferences/GlobalPreferences.js
Labels: module: preferences

#1436 Apps: allow downloads from iframe
  src/security/configuration.js
Labels: security

#1272 useRouting()
  src/App.js
  src/apps/Organization/Organization.js
  src/components/AccountModule/AccountModule.js
  src/components/AccountModule/AccountModuleConnectedScreen.js
  src/components/AccountModule/WalletSyncedInfo.js
  src/components/Error/ErrorScreen.js
  src/components/GlobalPreferences/CustomLabels/CustomLabels.js
  src/components/GlobalPreferences/CustomLabels/useIdentitiesActions.js
  src/components/GlobalPreferences/GlobalPreferences.js
  src/components/GlobalPreferences/HelpAndFeedback/HelpAndFeedback.js
  src/components/GlobalPreferences/Notifications/ManageNotifications.js
  src/components/GlobalPreferences/Notifications/Notifications.js
  src/components/GlobalPreferences/Notifications/NotificationsLogin.js
  src/components/GlobalPreferences/Notifications/SubscriptionsForm.js
  src/components/GlobalPreferences/SharedIdentities/useSharedLink.js
  src/components/HelpScoutBeacon/HelpScoutBeacon.js
  src/components/HelpScoutBeacon/useBeaconSuggestions.js
  src/components/MenuPanel/MenuPanel.js
  src/components/MenuPanel/OrganizationSwitcher/OrganizationSwitcher.js
  src/components/OrgView/GlobalPreferencesButton/GlobalPreferencesButton.js
  src/components/OrgView/OrgView.js
  src/components/OrgView/OrgViewApp.js
  src/components/SignerPanel/ActionPathsContent.js
  src/components/SignerPanel/ConfirmTransaction.js
  src/components/SignerPanel/SignerPanel.js
  src/index.js
  src/onboarding/Onboarding/Onboarding.js
  src/onboarding/Onboarding/OnboardingTopBar.js
  src/routing.js
  src/routing.test.js
  src/symbols.js
Labels: app: organization, module: account, module: onboarding, module: preferences, tech debt

#1462 App Center: Markdown via @aragon/ui
  package.json
  src/apps/AppCenter/InstalledApps/AppContent.js
  src/apps/AppCenter/InstalledApps/ContentMarkdown.js
  yarn.lock
Labels: app: app center
