Repository aragon/client, pull requests merged in 2021-07, with the labels that each got.

#1556 Enable analytics on v1 DAO-57
  src/App.js
  src/analytics.js
  src/components/AccountModule/AccountModuleConnectedScreen.js
  src/onboarding/Templates/TemplateDetails.js
  src/routing.js
Labels: module: account, module: onboarding

#1558 Re-order templates DAO-48
  src/onboarding/Onboarding/Onboarding.js
  src/templates/index.js
Labels: module: onboarding

#1559 DAO-25 banner height and minor text fix
  src/components/Migrate/MigrateBanner.js
  src/onboarding/validate-requirements.js
Labels: module: onboarding

#1561 add role id for finance column
  src/apps/Permissions/PermissionsView.js
Labels: app: permissions

#1563 DAO-112 Open organization error
  src/App.js
  src/check-domain.js
  src/client-web3.js
  src/components/AccountModule/connection-hooks.js
  src/components/AccountModule/useClientBlockNumber.js
  src/index.js
  src/onboarding/Create/Create.js
  src/web3-utils.js
Labels: module: account, module: onboarding

#1565 DAO-90 unsupported network error
  src/components/AccountModule/AccountModuleErrorScreen.js
  yarn.lock
Labels: module: account

#1568 Merge to DAO-43-multichain
  package.json
  src/apps/Organization/Organization.js
  src/components/AccountModule/AccountModuleConnectingScreen.js
  src/components/AccountModule/AccountModuleProvidersScreen.js
  src/components/SignerPanel/ActionPathsContent.js
  src/components/SignerPanel/SigningStatus.js
  src/components/SignerPanel/Web3Errors.js
  src/ethereum-providers/connectors.js
  src/ethereum-providers/index.js
  src/network-config.js
  src/wallet.js
  yarn.lock
Labels: app: organization, module: account

#1569 DAO-83 only show network settings on mainnet
  src/apps/Organization/Organization.js
  src/components/OrgView/GlobalPreferencesButton/GlobalPreferencesButton.js
  src/network-config.js
  src/onboarding/Onboarding/OnboardingTopBar.js
Labels: app: organization, module: onboarding

#1570 DAO-80 network reactive dapp
  src/App.js
Labels: app: app center, app: organization, module: account, module: preferences

#1567 add analytics events DAO-97
  src/analytics.js
  src/check-domain.js
  src/onboarding/Create/Create.js
  src/templates/kit/screens/ReviewScreen.js
Labels: module: onboarding
