Repository aragon/client, pull requests merged in 2021-09, with the labels that each got.

#1604 DAO-245 reset connection status on network switch
  src/components/AccountModule/connection-hooks.js
  src/components/AccountModule/utils.js
  src/utils.js
Labels: module: account

#1623 DAO-280 Create DAO error
  src/onboarding/Create/Create.js
Labels: module: onboarding

#1628 DAO-308: Set Polygon DAI address
  src/network-config.js
  src/templates/dandelion/components/TokenSelector/TokenSelectorInstance.js
  src/templates/dandelion/config/helpers/getBlockTime.js
  src/templates/dandelion/config/helpers/tokens.js
  src/templates/dandelion/config/screens/RedemptionsScreen.js
  src/templates/dandelion/config/screens/TokenRequestScreen.js
Labels: module: onboarding

#1634 Chain switch modal DAO-270
  src/apps/Organization/Organization.js
  src/aragonjs-wrapper.js
  src/components/AccountModule/WalletSyncedInfo.js
  src/components/AccountModule/connection-hooks.js
  src/components/Error/DAONotFoundError.js
  src/components/GlobalPreferences/GlobalPreferences.js
  src/components/GlobalPreferences/Network/Network.js
  src/components/GlobalPreferences/Notifications/notification-service-api.js
  src/components/Modals/ConnectModal/ConnectModal.js
  src/components/Modals/ConnectModal/assets/providers.png
  src/components/Modals/ErrorModal/ErrorModal.js
  src/components/Modals/NetworkSwitchModal/NetworkSwitchModal.js
  src/components/Modals/index.js
  src/components/NetworkIndicator/NetworkIndicator.js
  src/components/OrgView/GlobalPreferencesButton/GlobalPreferencesButton.js
  src/components/OrgView/OrgView.js
  src/contexts/wallet.js
  src/network-config.js
  src/onboarding/Create/Create.js
  src/onboarding/Onboarding/Onboarding.js
  src/onboarding/Onboarding/OnboardingTopBar.js
  src/templates/dandelion/config/helpers/tokens.js
  src/util/network.js
  src/util/web3.js
Labels: enhancement, ux, app: organization, module: onboarding, module: account, module: preferences

#1639 Hotfix: Migration generator
  src/apps/GovernMigration/GovernMigration.js
Labels: bug

#1641 Feautre/search daos dao 269
  src/components/Error/DAONotFoundError.js
  src/components/Modals/NetworkSwitchModal/NetworkSwitchModal.js
  src/hooks/useDetectDao.js
  src/network-config.js
  src/onboarding/Welcome/OpenOrg.js
  src/util/network.js
Labels: module: onboarding

#1645 Improved DAO discovery DAO-204
  src/components/Error/DAONotFoundError.js
  src/components/Modals/NetworkSwitchModal/NetworkSwitchModal.js
  src/components/NetworkIndicator/NetworkIndicator.js
  src/contexts/wallet.js
  src/hooks/useDetectDao.js
  src/network-config.js
  src/onboarding/Welcome/OpenOrg.js
  src/util/network.js
Labels: module: onboarding

#1646 Feature/polygon node 20210913
  src/analytics.js
  src/apps/AppCenter/DiscoverApps/discover-apps-data.js
  src/apps/Organization/Organization.js
  src/aragonjs-wrapper.js
  src/components/AccountModule/AccountModuleErrorScreen.js
  src/components/AccountModule/AccountModuleProvidersScreen.js
  src/components/AccountModule/WalletSyncedInfo.js
  src/components/Error/DAONotFoundError.js
  src/components/Modals/ConnectModal/ConnectModal.js
  src/components/SignerPanel/ActionPathsContent.js
  src/components/SignerPanel/SigningStatus.js
  src/components/SignerPanel/Web3Errors.js
  src/hooks/useDetectDao.js
  src/network-config.js
  src/templates/fundraising/components/Council.js
  src/templates/kit/screens/TokensScreen.js
Labels: app: organization, app: app center, module: onboarding, module: account

#1648 DAO-340: allow upgrade page to display even if missing content
  src/apps/AppCenter/AppCenter.js
Labels: app: app center

#1650 Release agent fix
  package.json
  src/apps/AppCenter/AppCenter.js
Labels: app: organization, app: app center, module: onboarding, module: account
