Repository aragon/client, pull requests merged in 2021-12, with the labels that each got.

#1696 Adding Metis stardust testnet and andromeda
  package.json
  src/aragonjs-wrapper.js
  src/components/AccountModule/utils.js
  src/ethereum-providers/connectors.js
  src/network-config.js
  src/onboarding/Create/Create.js
  src/util/web3.js
  yarn.lock
Labels: module: onboarding, module: account

#1697 DAO-444: add dai address
  src/network-config.js
  src/templates/dandelion/config/helpers/getBlockTime.js
Labels: module: onboarding

#1698 allowing custom sync delays
  src/components/AccountModule/connection-hooks.js
  src/components/AccountModule/utils.js
  src/network-config.js
Labels: module: account

#1699 Release/20211223 metis
  package.json
  src/aragonjs-wrapper.js
  src/components/AccountModule/connection-hooks.js
  src/ethereum-providers/connectors.js
  src/network-config.js
  src/onboarding/Create/Create.js
  src/templates/dandelion/config/helpers/getBlockTime.js
  src/util/web3.js
  yarn.lock
Labels: module: onboarding, module: account
