Repository aragon/client, pull requests merged in 2021-08, with the labels that each got.

#1572 Dao 120 websocket leakage
  package.json
  src/App.js
  src/check-domain.js
  src/client-web3.js
  src/components/AccountModule/connection-hooks.js
  src/components/AccountModule/useClientBlockNumber.js
  src/contexts/ClientWeb3Context.js
  src/index.js
  src/onboarding/Create/Create.js
  src/web3-utils.js
  yarn.lock
Labels: module: account, module: onboarding

#1573 Feature/dao 81 multi localstorage
  package.json
  src/App.js
  src/aragonjs-wrapper.js
  src/contexts/ActivityContext.js
  src/contexts/FavoriteDaosContext.js
  src/local-settings.js
  src/local-storage-wrapper.js
  src/onboarding/Create/Create.js
  src/onboarding/create-utils.js
  src/services/gql.js
  src/utils.js
  src/wallet.js
  yarn.lock
Labels: module: onboarding

#1574 DAO-128 connection not open
  src/App.js
  src/NetworkType.js
  src/Web3Provider.js
  src/aragonjs-wrapper.js
  src/components/AccountModule/useClientBlockNumber.js
  src/components/GlobalPreferences/Network/Network.js
  src/components/GlobalPreferences/Notifications/notification-service-api.js
  src/contexts/ClientWeb3Context.js
  src/environment.js
  src/index.js
  src/local-settings.js
  src/network-config.js
  src/onboarding/Create/Create.js
  src/templates/dandelion/config/helpers/tokens.js
  src/url-utils.js
  src/utils.js
  src/wallet.js
  src/web3-utils.js
Labels: module: account, module: onboarding, module: preferences

#1579 DAO-143 Create DAO freeze
  src/aragonjs-wrapper.js
  src/components/Error/GenericError.js
  src/onboarding/Create/Create.js
  src/onboarding/Deployment/Deployment.js
  src/onboarding/Deployment/DeploymentStepsPanel.js
  src/onboarding/Onboarding/Onboarding.js
Labels: module: onboarding

#1575 DAO-134 show wrong network on connect button
  src/components/AccountModule/AccountModule.js
  src/components/AccountModule/AccountModuleConnectedScreen.js
  src/components/AccountModule/AccountModuleErrorScreen.js
  src/components/AccountModule/ButtonAccount.js
  src/components/AccountModule/connection-hooks.js
  src/components/AccountModule/utils.js
  src/network-config.js
  src/wallet.js
Labels: module: account

#1580 DAO-163 Screen Id typo and clear cache error
  src/components/AccountModule/AccountModule.js
  src/components/GlobalPreferences/Network/Network.js
Labels: module: account, module: preferences

#1583 DAO-162: handle network change in the middle of create DAO flow
  src/components/ErrorModal/ErrorModal.js
  src/onboarding/Create/Create.js
  src/onboarding/Onboarding/Onboarding.js
  src/onboarding/create-utils.js
Labels: module: onboarding

#1586 DAO-194: use networkName from use-wallet
  package.json
  src/App.js
  src/NetworkType.js
  src/analytics.js
  src/components/AccountModule/AccountModuleConnectedScreen.js
  src/components/GlobalPreferences/Notifications/notification-service-api.js
  src/environment.js
  src/local-settings.js
  src/network-config.js
  src/templates/dandelion/config/helpers/tokens.js
  src/wallet.js
  src/web3-utils.js
  yarn.lock
Labels: module: onboarding, module: account, module: preferences

#1588 DAO-202: fix undefined web3 error
  src/App.js
  src/onboarding/Onboarding/Onboarding.js
Labels: module: onboarding

#1587 Feature/ DAO-126 and DAO-155
  src/App.js
  src/analytics.js
  src/onboarding/Templates/TemplateDetails.js
  src/templates/kit/screens/ReviewScreen.js
Labels: module: onboarding

#1590 Feature/dao migration
  .babelrc
  package.json
  src/apps/GovernMigration/GovernMigration.js
  src/apps/index.js
  src/components/AddressField/AddressField.js
  src/components/Carousel/Carousel.js
  src/components/Migrate/MigrateBanner.js
  src/components/OrgView/OrgViewApp.js
  src/errors.js
  src/network-config.js
  src/onboarding/Create/Create.js
  yarn.lock
Labels: module: onboarding

#1591 Bug / DAO-196
  src/templates/kit/PercentageField.js
Labels: module: onboarding

#1596 Feature/dao 233 hide discover apps
  src/apps/AppCenter/AppCenter.js
Labels: app: app center

#1597 Feature/dao 235 copy missing
  src/apps/Organization/Organization.js
Labels: app: organization

#1598 Feature/dao 230 remove templates
  src/onboarding/Onboarding/Onboarding.js
Labels: module: onboarding

#1601 DAO-238 polygon no connection issue
  src/components/AccountModule/AccountModulePopover.js
  src/components/AccountModule/connection-hooks.js
  src/services/gql.js
Labels: module: account

#1603 DAO-239 initialize wrapper with Client network information
  src/apps/Organization/Organization.js
  src/aragonjs-wrapper.js
  src/network-config.js
  src/wallet.js
  yarn.lock
Labels: app: organization
